* {
  box-sizing: border-box;
}

.header {

  padding: 15px;
}

.left-menu {
  width: 25%;
  float: left;
  padding: 15px;

}
.right-menu {
  width: 25%;
  float: left;
  padding: 15px;

}
.main {
  width: 50%;
  float: left;
  padding: 15px;

}
.red-border {
    border: 1px solid red;
}
.blue-border {
    border: 1px solid blue;
}
.yellow-border {
    border: 1px solid rgb(255, 251, 0);
}

.photo {
    width: 100%;
}
.photo img {
    width: 100%;
}
footer {
  width: 100%;
  float: left;
  text-align: center;
}